/* AFC Defaults */
:root {
    --primary: #005aae;
    --primary-shade-one: #023287;
    --primary-shade-two: #0039aa;
    --secondary: #ECF3FF;
    --text-offwhite: rgb(255, 255, 240);
    --alternative: #D39037;
    --font-headings: 'Big Shoulders Display', sans-serif;;
    --font-body: 'Barlow', sans-serif;
    --alt-font: 'Big Shoulders Display', sans-serif;
    --alt-font1: 'Big Shoulders Display', sans-serif;
    --gradient-one: linear-gradient(180deg, rgba(0, 90,174,1) 6%, rgb(50, 79, 159) 80%);
    --gradient-two: linear-gradient(0deg, rgba(0, 90,174,1) 10%, rgba(0, 90,174, 20%), rgba(0, 90,174,0) 75%);
    --gradient-three: linear-gradient(0deg, rgba(0, 90,174,1) 10%, rgba(0, 90,174, 60%), rgba(0, 90,174,0) 75%);
    --gradient-four: linear-gradient(0deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 100%);
    --gradient-five: linear-gradient(0deg, rgba(211,144,55,1) 10%, rgba(211,144,55, 60%), rgba(211,144,55,0) 75%);
    --shadow-one:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
--shadow-two:
  0.5px 0.4px 2.2px rgba(0, 0, 0, 0.006),
  1.3px 0.9px 5.3px rgba(0, 0, 0, 0.008),
  2.4px 1.8px 10px rgba(0, 0, 0, 0.01),
  4.2px 3.1px 17.9px rgba(0, 0, 0, 0.012),
  7.9px 5.8px 33.4px rgba(0, 0, 0, 0.014),
  19px 14px 80px rgba(0, 0, 0, 0.02)
;
}

@font-face {
    font-family: 'VTF Redzone Classic';
    src: local('VTF Redzone Classic Classic'), local('VTF-Redzone-Classic-Classic'),
        url('/font/VTFRedzone-Classic.woff2') format('woff2'),
        url('/font/VTFRedzone-Classic.woff') format('woff'),
        url('/font/VTFRedzone-Classic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Redzone (Indoor Football League)';
    src: local('Redzone (Indoor Football League) Bold SemiCondensed'), local('Redzone-(Indoor-Football-League)-Bold-SemiCondensed'),
        url('/font/Redzone-BoldSemiCond.woff2') format('woff2'),
        url('/font/Redzone-BoldSemiCond.woff') format('woff'),
        url('/font/Redzone-BoldSemiCond.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

html, body {
    overflow-x: hidden;
    background-color: var(--secondary);
}

/* HEADER */
header {
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
}

.nav-core {
    display: block;
    width: 100%;
}

.nav-primary {
    display: flex;
    width: 100%;
    flex-flow: column;
    color: var(--text-offwhite);
}

.nav-top {
    display: flex;
    background-color: var(--primary-shade-one);
    width: 100%;
    padding: 5px 0;
    
}

.alert-type-one a {
    color: var(--primary) !important;
    text-decoration: none !important;
}

.nav-middle {
    background-color: var(--primary-shade-two);
    width: 100%;
    position: relative;
}

.logo-container,
.nav-middle-left,
.nav-middle-right {
    display: inline-flex;
    position: relative;
}

.nav-top-left,
.nav-top-right {
    display: inline-flex;
    width: 50%;
    align-items: center;
    
}

.nav-top-left {
    justify-content: flex-start;
    padding-left: 10%;
}

.nav-top-right {
    justify-content: flex-end;
    padding-right: 2%;
}

.nav-middle.main-nav {
    border-bottom: 5px solid var(--alternative);
}

.logo-wrap {
    width: 6rem;
    min-height: 1rem;
    position: relative;
}

.logo-wrap img {
    position: absolute;
}

.nav-middle.main-nav {
    padding: 20px;
}

.logo-wrap img {
    position: absolute;
    top: -4rem;
}

.alert-type-one.uk-alert {
    margin: 0;
}

.alert-type-one {
    border-radius: 5rem;
    padding: 10px 30px;
    font-size: 12px;
    font-weight: 600;
}

span.nav-item-round {
    background: var(--primary-shade-two);
    color: var(--secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.nav-item-round i {
    font-size: 20px;
}

span.nav-item-round img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

li.lang-select img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 1rem;
}

.uk-navbar-nav {
    gap: 10px;
    align-items: center;
}

span.btn-img img {
    width: 30px;
    height: 30px;
}

/* span.btn-img i {
    font-size: 20px;
} */

ul.uk-navbar-nav button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 800;
    color: var(--text-offwhite);
    cursor: pointer;
}
button.uk-button.uk-button-default.btn-afc-min {
    border: none;
}
button.uk-button.uk-button-default.btn-afc-secondary {
    background-color: var(--alternative);
    border: none;
    border-radius: 0.3rem;
}

ul.uk-navbar-nav button label {
    padding-left: 1rem;
}

.nav-middle-left {
    width: 50%;
        /* padding-left: 4%; */
}

.nav-middle-right {
    width: 40%;
    justify-content: end;
}

.nav-middle.main-nav {
    border-top: 1px solid rgba(255, 255, 255, .3);
}

.fullwidth-nav {
            left: 0 !important;
            width: 800px !important;
            overflow: hidden;
}

.fullwidth-nav .uk-navbar-dropdown-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}

.nav-bottom-cols {
    width: 100%;
    margin-top: 1rem;
}

.nav-bottom-cols .uk-card {
    padding: 0;
}

.nav-bottom-cols .uk-inline-clip:before {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
}

.card-inner-teams-results span, .uk-button, span.cta-app-section, .fxture {
    font-family: var(--alt-font);
    text-transform: uppercase;
}

.nav-middle-right .uk-navbar-nav a, .nav-middle-left .uk-navbar-nav a {
    font-weight: 600;
    font-family: var(--alt-font);
    font-size: 1.3rem;
    text-transform: uppercase;

}
.nav-middle-left .uk-navbar-nav a {
    color: var(--text-offwhite);
}

.nav-middle-right .uk-navbar-nav a {
    color: var(--alternative);
}

.uk-navbar-dropdown.fullwidth-nav.uk-drop a, .nav-middle-left .uk-navbar-dropdown a {
    color: initial;
    font-weight: initial;
}

.uk-navbar-dropdown li a {
    color: var(--primary-shade-two) !important;
}

.nav-top span, .nav-top label, .inner-hero-tags a, .card-tag .uk-label{
    font-family: var(--font-body) !important;
}

.uk-navbar-nav li {
    transition: border-width 1s linear;
    border-top: 0;
}

.uk-navbar-nav li:hover {
    border-top: 2px solid red;
    background: rgba(0,0,0,.07);
}

.uk-navbar-dropdown li:hover {
    border-top: none;
    /* border-radius: 1rem; */
}

.uk-navbar-dropdown li {
    padding: 3px 9px !important;
    text-align: center;
    transition: all 300ms;
}
.uk-navbar-nav li {
    border-top: 2px solid transparent;
    padding: 0 5px;
}

.nav-middle-left .uk-navbar-nav li {
white-space: nowrap;
}


.fullwidth-nav-right {
            left: -350px !important;
            width: 800px !important;
            overflow: hidden;
}

.fullwidth-nav-right .uk-navbar-dropdown-nav {
 display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.afc-carousel {
  width: 100%; /* Set your preferred width */
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.hero-slides {
  display: flex;
  transition: all 500ms ease;
}

.afc-slide {
  /* flex: 0 0 50%; */
  flex: 0 0 100%;
  height: 25rem; 
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 10px; */
  cursor: pointer;
  background-size: cover;
  transition: all 500ms ease;
  overflow: hidden;
}

/* .afc-slide:hover {
  flex: 0 0 60%;
  transition: all 500ms ease;
  transform: scale(1.1);
} */

.players-section .uk-inline-clip::before {
    content: '';
    width: 100%;
    height: 100%;
    background: var(--gradient-two);
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.bgtop {
    background: rgb(14,49,137);
    background: var(--gradient-two);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

span.ovrlay {
    width: 100%;
    height: 50rem;
    position: absolute;
    bottom: 0;
    background: rgb(14,49,137);
    background: var(--gradient-two);
}

.emptspc {
    padding-left: 4rem;
}

span.hero-meta {
    position: absolute;
    width: 45%;
    overflow: hidden;
    bottom: 0;
}

.team-inner.pllist .uk-card {
    background: var(--gradient-one);
    border-radius: .8rem;
}

.team-inner.pllist .uk-card:hover {
    background: var(--alternative) !important;
}

.team-inner.pllist  span.pos-player {
    display: none;
}

h1.hero-title, h1.hero-title a, .uk-slideshow-items h2 {
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: var(--secondary);
    font-family: var(--alt-font1);
    text-transform: uppercase;
    /* text-shadow:
   -.3px -.3px 0 var(--primary),  
    .3px -.3px 0 var(--primary),
    -.3px .3px 0 var(--primary),
     .3px .3px 0 var(--primary); */
     text-shadow: 1px 1px 2px var(--primary-shade-two);
     transition: all 300ms;
     text-decoration: none;
}

.caption-div {
    top: calc(70% - var(--uk-position-margin-offset));
}

.afc-slide:hover h1.hero-title {
    /* font-size: 44px; */
    transition: all 300ms;
}

.inner-hero-tags a {
    color: var(--secondary);
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    opacity: .8;
}

.inner-hero-tags a:hover {
    opacity: 1;
}

.w-line-separator {
    /* border-top: 1px solid var(--alternative); */
    text-align: center;
}

.spacer-div-hero {
    width: 100%;
    height: 5rem;
    background: var(--primary-shade-two);
}

.uk-section.bg-gradient-one {
    background: var(--gradient-one);
    position: relative;
}

.floating-results-one {
    background: var(--primary-shade-one);
    padding: 10px;
    border-radius: 0.8rem;
}

.shadow-one {
    box-shadow: var(--shadow-one);
}

.card-tag {
    display: flex;
    flex-flow: column;
}

h3.comp-label {
    margin-bottom: 0;
    text-align: center;
}

.card-inner-teams-results {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.home-team-item img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
}

.posts-type-one img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.player-card-details .uk-text-center {
    text-align: left !important;
}

.player-card-details span.uk-heading-divider {
    font-size: 1rem;
    display: grid;
    line-height: 1;
}

.results-fixtures-carousel .uk-slidenav-previous {
    top: 1rem;
    left: 1rem;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}


.results-fixtures-carousel .uk-slidenav-next {
    top: 1rem;
    right: 1rem;
    height: 60px !important;
    width: 60px !important;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.player-card-details .uk-grid div:last-child {
    text-align: right;
    padding-right: 2rem;
}

span.pos-player {
    font-size: 1rem;
    color: var(--alternative);
    font-weight: 800;
}

.player-card-details .uk-grid div:last-child {text-align: right;padding-right: 2rem;}

/* .player-card-details .uk-grid .uk-first-column span:not(.uk-heading-divider) {
    display: none;
} */

.posts-type-one .uk-card:hover h3, .posts-type-one .uk-card:hover, .desc-container .uk-card-title:hover {
    color: white !important;
}

span.date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.home-team-item {
        width: 40%;
}
.home-team-item {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

.home-team-score {
    width: 17%;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    background: var(--primary-shade-two);
    margin: 2px;
    border-radius: .4rem;
    height: 20%;
}

.home-team-score h3 {
    font-size: 2rem;
    margin-bottom: 0;
}

.results-card-minimal-one {
    padding: 10px;
    background: var(--alternative);
     transition: transform 0.3s ease; 
     overflow: hidden;
}

.results-card-minimal-one.upcoming-game {
    background: transparent;
}

.comp-label {
    letter-spacing: 1px;
    font-weight: normal;
    margin-bottom: 0.1rem;
    margin-top: 1rem;
}

.results-card-minimal-one.upcoming-game h3 {
    color: var(--primary);
}

.results-card-minimal-one.upcoming-game {
    background: white;
}

.results-card-minimal-one.upcoming-game .card-tag {
    color: var(--primary-shade-two);
}

.game-time h3 {
    font-size: 38px;
}

.upcoming-game .uk-label {
    background: none;
    text-align: center;
}

.card-tag .uk-label {
    margin-top: 0.3rem;
}

.floating-results-one .uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav, .floating-results-one .uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav {
    background: var(--gradient-one);
    height: 100%;
    display: flex;
    align-items: center;
}

.floating-results-one a.uk-position-center-left.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-previous.uk-slidenav {
left: -1rem;
}

.floating-results-one a.uk-position-center-right.uk-position-small.uk-hidden-hover.uk-icon.uk-slidenav-next.uk-slidenav {
    right: -1rem;
}


/* .uk-position-center.ovrlay-card {
    background: rgba(0,0,0,.5);
    width: calc(100% - 15px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    display: none;
}

.results-card-minimal-one:hover .uk-position-center.ovrlay-card {
    display: flex;
} */


.results-card-minimal-one:not(:hover) .home-team-item {
    scale: 1;
    transition: all 1s;
}

.results-card-minimal-one:hover .home-team-item {
    scale: 1.1;
    transition: all 1s;
}

.spacer-4r {
    height: 6rem;
}

.spacer-3r {
    height: 2rem;
}


.floating-results-one.light-bg {
    background: white;
    margin-top: -18rem;
}

.bg-white-type-two {
    position: relative;
}

.bg-white-type-two .widget-header-wrapper.light .widget-header__title {
    color: var(--primary);
}

.bg-white-type-two .widget-header-wrapper:before {
    background-color: var(--alternative);
}

.bg-white-type-two::before {
    background-image: url(/img/bg-two.svg);
    mix-blend-mode: soft-light;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -3rem;
    content: '';
    opacity: 1;
    left: -7rem;
}

.uk-section.bg-white-type-two:after {
    background: var(--primary-shade-two);
    height: 100%;
    width: 40%;
    content: '';
    position: absolute;
    top: 0;
    z-index: 1;
    right: 0;
}

.uk-section.bg-gradient-one:before {
    background-image: url(/img/zigzag.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    mix-blend-mode: screen;
    opacity: .2;
}

.floating-results-two.bg-white {
    background-color: white;
}

.uk-section.pull-top-one {
    margin-top: -6rem;
    position: relative;
}


.uk-section.pull-top-two {
    margin-top: -16rem;
    position: relative;
}

.posts-type-one {
    background: white;
    padding: 20px;
}

.widget-header__title {
    line-height: 1rem;
    padding: 1.5rem 0 0;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--primary)
}

.widget-header__title--small {
    font-size: 2.8rem;
    padding-bottom: .2rem;
}


.widget-header-wrapper {
    display: flex;
    margin-bottom: 3.2rem;
    position: relative;
    border-radius: .4rem .4rem 0 0;
    background-color: #fff;
    padding: 0 2.4rem;
    z-index: 30;
}


.widget-header-wrapper--small {
    display: inline-flex;
    z-index: 20;
}

.widget-header-wrapper--small .widget-header-wrapper__header {
    flex-grow: unset;
    margin-right: 1.6rem;
}

.widget-header-wrapper--small .widget-header-wrapper__content {
    display: flex;
}


.widget-header-wrapper--small .filter-list--desktop {
    display: flex;
    height: calc(100% - .2rem);
    margin: 0;
}

.widget-header-wrapper--small .custom-select:after,.widget-header-wrapper--small .filter-list--floating {
    display: none;
}

.widget-header-wrapper--small .custom-select__display {
    padding: 1rem 5.7rem .9rem 1.6rem;
}

.widget-header-wrapper--small .custom-select__title {
    margin-bottom: .5rem;
}

.widget-header-wrapper--small .custom-select__options {
    padding: 0 1.5rem;
}

.widget-header-wrapper--small .custom-select__option {
    line-height: 2.6;
}

.widget-header-wrapper--transparent {
    background: none;
}

.widget-header-wrapper--no-padding {
    padding: 0;
}

.widget-header-wrapper--no-padding:after,.widget-header-wrapper--no-padding:before {
    left: 0!important;
}

.widget-header-wrapper:after,.widget-header-wrapper:before {
    content: "";
    position: absolute;
    z-index: 10;
}

.widget-header-wrapper:before {
    height: .1rem;
    background-color: #e5e5e5;
    bottom: .1rem;
    left: 2.4rem;
    right: 2.4rem;
}

.widget-header-wrapper:after {
    bottom: 0;
    left: 2.4rem;
    width: 8rem;
    height: .3rem;
    border-radius: .2rem;
    background-color: red;
}

.widget-header-wrapper__header {
    flex: 1;
    align-self: center;
}

.widget-header-wrapper__content {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    z-index: 20;
}

.widget-header-wrapper__content--pin-right {
    margin-right: -2.4rem;
}


@media (max-width: 840px) {
    .widget-header-wrapper {
        margin-bottom:2.4rem;
    }
}

@media (max-width: 900px) {
    .widget-header-wrapper {
        padding:1rem 1.2rem .5rem;
    }

    .widget-header-wrapper:before {
        left: -6rem;
        right: -6rem;
        bottom: .1rem;
    }

    .widget-header-wrapper:after {
        width: 4rem;
        left: 1rem;
        bottom: 0;
    }

    .widget-header-wrapper__header {
        padding-bottom: .8rem;
    }

    .widget-header-wrapper__content--fixed-mobile {
        position: fixed;
        bottom: 5rem;
        width: 100%;
        text-align: center;
        left: 0;
    }

    .widget-header__title {
        font-size: 2.1rem;
        line-height: 2.8rem;
        padding: .6rem 0;
    }

    .widget-header__link-to {
        padding: 0 0 .8rem;
    }
}

@media (max-width: 640px) {
    .widget-header-wrapper--small {
        margin-bottom:1.2rem;
    }

    .widget-header-wrapper--small .widget-header-wrapper__header {
        margin-right: .8rem;
    }

    .widget-header-wrapper--small .custom-select__display {
        min-width: 10.8rem;
        padding: 1rem 4.2rem 1rem .8rem;
    }

    .widget-header-wrapper--small .custom-select__title {
        font-size: .8rem;
        margin-bottom: 0;
    }

    .widget-header-wrapper--small .custom-select__current {
        font-size: 1.2rem;
    }

    .widget-header-wrapper--small .custom-select__chevron {
        height: 1.1rem;
        width: 1.1rem;
    }

    .widget-header-wrapper--small .custom-select__options {
        padding: 0 1rem;
    }

    .widget-header-wrapper--small .custom-select__option {
        font-size: 1.2rem;
    }

    .widget-header--subheader .widget-header__title {
        font-size: 1.6rem;
        padding: .5rem 0;
    }
}

.posts-type-one .uk-scrollspy-inview {
    padding: 0;
    border-radius: 0.5rem;
}

.desc-container {
    padding: 15px;
    position: relative;
    transition: border-width 0.2s ease;
}

.desc-container .uk-card-title {
    font-family: var(--font-body);
    color: var(--primary);
    line-height: 1;
    font-size: 1.2rem;
}

.bottompart p {
    font-size: 12px;
}

p.text-right {
    text-align: right;
    font-size: 16px;
}

.widget-header-wrapper.light {
    background: transparent;
}

.widget-header-wrapper.light .widget-header__title {
    color: white;
}

.playershomebtn {
    background-color: white;
}

.playershomebtn:hover {
    background-color: var(--alternative);
    color: white;
}

.players-section .uk-section {
    padding-top: 0;
}

.players-section ul.uk-tab {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.results-fixtures-carousel .uk-tab::before {
    border-bottom: none !important;
}

.results-fixtures-carousel .uk-tab > * > a {
    color: var(--secondary) !important;
    font-weight: 800;
    font-size: 1.1rem;
}

.results-fixtures-carousel .uk-tab > .uk-active > a {
    border-color: red !important;
}

.players-section .uk-grid {
    margin-left: -15px;
}

.players-section .uk-card-body {
    padding: 0;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}

.player-card-details {
    position: absolute;
    bottom: 0;
    z-index: 8;
    padding: 5px 10px;
    width: 100%;
    overflow: hidden;
    left: 0;
}

.player-card-details span{
    font-family: var(--font-body);
}

.player-card-details span {
    font-family: var(--font-body);
    font-size: 1.6rem;
    color: var(--secondary);
}

span.secondname {
    font-weight: 800;
}

span.plyr-number {
    font-size: 5rem;
    font-weight: 800;
    -webkit-text-stroke: 1px var(--primary);
}

.player-card-details .uk-column-1-2 {
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
}

.player-card-details .uk-grid {
    align-items: center;
}

.desc-container::before {
    position: absolute;
    content: '';
    border-top: 3px solid red;
    width: 10rem;
    top: 0;
    visibility: hidden;
    z-index: 9999;
}

.desc-container:hover .desc-container::before {
    visibility: visible;
}

.latest-featured-game img {
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.uk-overlay-primary {
    background: rgba(26,26,26,.65);
}

.highlight-score-section .uk-card {
    background: transparent;
    color: white;
    font-family: var(--alt-font);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.highlight-score-section .uk-card span {
    font-family: var(--alt-font);
    text-transform: uppercase;
    font-weight: 600;
}

.highlight-score-section img {
    height: 90px;
}

.highlight-score-section .uk-column-1-2 {
    align-items: center;
    justify-content: center;
    display: flex;
    align-content: center;
    text-align: center;
}

.highlight-score-section .uk-grid {
    display: flex;
    align-items: center;
    margin-top: 0;
}

.home-posts {
    background: white;
}


.posts-type-one .uk-grid, .posts-type-two .uk-grid  {
    margin-left: -15px;
}

.posts-type-one .uk-card:hover {
    background: var(--primary);
    color: white;
    box-shadow: var(--shadow-two);
}

.posts-type-one .uk-card:hover a {
    color: white;
    transition: all 1s;
}

/* .afc-main::before {
    background-image: url(/img/bg-two.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    content: '';
    mix-blend-mode: normal;
    opacity: 1;
} */

.uk-inline.latest-featured-game {
    overflow: hidden;
}

.highlight-score-section .uk-card {
    box-shadow: none;
    padding: 0;
}

.highlight-score-section .uk-card:hover {
    background: transparent;
}

.playr-profile-info .uk-card:hover, .team-display .uk-card:hover {
    background: white;
    color: initial !important;
}

.team-display .uk-card {
    padding: 0;
    overflow: hidden;
}


.team-inner.pllist .team-display .uk-card {
    height: 20rem;
}

.team-inner.pllist .posts-type-one img {
    height: 20rem;}

.playr-profile-info .uk-card {
    text-align: left;
}

.highlight-score-section .uk-card p {
    font-size: 3rem;
    margin-bottom: 0;
        margin-top: 0;
}

span.uk-label.outline {
    padding: 0px 30px;
    font-size: 1.4rem;
    border: 1px solid white;
    background: transparent;
    color: white;
}

p.stadium-details {
    padding-top: 2rem;
    font-family: var(--alteranative);
    text-decoration: underline;
}

.bg-white-type-two .widget-header-wrapper {
    margin-bottom: 0;
}

.bg-white-type-two .uk-grid {
    margin-left: 0;
    position: relative;
    z-index: 99;
}

a.widget-header__link-to {
    background: white;
    display: flex;
    padding: 5px 15px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}


.bg-white-type-two .uk-card {
padding: 0;
}

.bg-white-type-two .uk-card:hover {
background: white;
color: initial;
cursor: pointer;
}

.shop-home-section .uk-card-body {
    background: #ddd;
    padding: 10px;
        text-align: center;
}

.shop-home-section img {
    width: 270px;
    margin: auto;
    text-align: center;
    display: flex;
    max-height: 15rem;
    object-fit: contain;
}

/* .product-elem {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom-color: #ddd;
    position: absolute;
    top: -2rem;
    left: 1rem;
} */
 

  .uk-card-body {
    position: relative;
  }

  .shop-home-section .uk-card-title {
    margin-top: 0;
    color: var(--primary);
}

.brd-down {
    border-bottom: 0.6rem solid red;
}

.app-section {
    overflow: hidden;
    border-radius: .8rem;
    position: relative;
}

.app-section .uk-grid div {
    background: transparent;
box-shadow: none !important;
    text-align: left;
}



.bg-primary::before {
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(/img/pattern3.svg);
    background-repeat: no-repeat;
    position: absolute;
        bottom: 0;
    right: -4rem;
    background-size: cover;
    mix-blend-mode: overlay;
    opacity: .6;
}

.phone-cont {
    width: auto;
    height: auto;
}
    
span.cta-app-section {
    font-size: 5rem;
    display: block;
    color: white;
    line-height: 1;
    /* font-family: var(--font-body) !important; */
}

span.o-text {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

.bg-primary {
    background: var(--primary);
    position: relative;
    max-height: 30rem;
    overflow: hidden;
}

.app-section .uk-button {
    /* background: white; */
    font-weight: 700;
}

.phone-cont img {
    height: 35rem;
}

.pst-type2::before {
    background: var(--gradient-three);
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
}

.overlay2 {
    z-index: 9;
}

.inner-fixtures {
    display: flex;
    width: 100%;
    flex-flow: column;
    text-align: center;
    background: white;
    padding: 30px 0;
    border-radius: 1rem;
}

.inner-fixtures:hover {
box-shadow: var(--shadow-two);
cursor: pointer;
}

.teams-inner-container {
    display: flex;
}

.teams-inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
        margin: 2rem 0;
}

.team-disp-1 img {
    height: 60px;
}

.scr-card {
    background: #bbb;
    padding: 5px;
    border-radius: .3rem;
    color: white;
}

span.hm-team-score {
    font-size: 1.3rem;
    color: white !important;
}

.fxtures-home li {
    border-radius: 1rem;
}

.inner-fixtures, .inner-fixtures h3, .inner-fixtures span {
    color: var(--primary);
    font-size: 1.5rem;
}

.inner-fixtures p {
    font-size: 14px;
    display: flex;
    flex-flow: column;
    margin: 0;
}

.inner-fixtures, .inner-fixtures p  {
    font-family: var(--alteranative) !important;
}

.faintcol {
    color: var(--alternative) !important;
    padding: 10px;
}

.fixtures-two .widget-header-wrapper {
    background-color: transparent !important;
}

.inner-fixtures p {
    color: #555;
}

.fxtures-home {
    margin-left: 0px;
}

.prim-color span {
    color: var(--primary);
}

.fixtures-two .uk-card {
    background: transparent;
    box-shadow: none;
    padding: 15px;
}

.uk-heading-line > ::before, .uk-heading-line > ::after {
    border-bottom: calc(0.2px + 0.05em) solid var(--primary);
}

/* Footer */
footer.afc-footer {
    background: var(--primary-shade-one);
    min-height: 5rem;
    position: relative;
    overflow: hidden;
}

footer::before {
    background-image: url(/img/zigzag-two.svg);
    width: 30rem;
    height: 50rem;
    position: absolute;
    content: '';
    opacity: 1;
    top: 0;
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
}


h1.ftr-highlight-txt {
    color: var(--alternative);
    text-align: center;
    font-size: 4rem;
    font-family: 'Great Vibes', cursive;
    z-index: 9999;
}

.afc-footer .uk-card.uk-card-default.uk-card-body {
    background: transparent;
    box-shadow: none;
    padding: 10px;
}

.socialmediacontainer li a {
    background: transparent;
    font-size: 35px;
    text-decoration: none;
}

.afc-footer .sponsors img {
    filter: brightness(0) invert(1);
}

a.uk-icon.uk-totop {
    background: white;
    color: var(--primary);
    font-size: 7rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    z-index: 9;
}

a.uk-icon.uk-totop:hover {
    background: var(--alternative);
    color: white;
    scale: 1.1;
    animation: inherit;
    transition: all 1s;
}

.uk-bg-highlight.uk-padding {
    background: red;
    opacity: .8;
    color: white;
    text-align: left;
}

.uk-section.full100 {
    padding-bottom: 0;
}

.ftr-logo img {
    height: 6rem;
}

.ftr-contact-details {
    text-align: left;
}

.uk-bg-highlight a {
    color: white;
    font-weight: 600;
}

/* Inner Pages */

.uk-section.head-inner {
    padding: 0;
}


.bg-h-light {
    background: white !important;
}

.plyr-container img, .player-no {
    position: absolute;
    z-index: 9;
    width: 25rem;
    left: 50%;
    transform: translate(-50%);
}

.plyr-container img {
    z-index: 9;
}

.player-no {
    z-index: 5;
}

.uk-bg-highlight.bg-h-light.uk-padding {
    opacity: 1;
}

.players-section-container {
    height: 25rem;
    overflow: hidden;
    position: relative;
}

.player-pos h1 {
    font-size: 30rem;
    /* opacity: .4; */
    color: transparent;
    -webkit-text-stroke: 1px var(--primary);
}

.player-pos h2 {
    margin: 0;
}

.player-pos h2 {
    font-size: 5rem;
    opacity: .2;
}


.player-details-info {
    text-align: left;
    padding: 0 0 0 4rem;
}

.player-details-info h3 {
    font-size: 6rem;
}

.player-details-info h3 {
    line-height: 1;
}

.player-pos {
    /* transform: rotate(-90deg); */
    position: absolute;
    left: 5rem;
    bottom: -3rem;
}


.playr-profile-info .uk-tab {
    margin-left: 0;
    justify-content: center;
    margin-bottom: 0;
    background: white;
    padding: 10px;
}

.playr-profile-info .uk-tab li.uk-active a {
    background: #eee !important;
    border: none !important;
}

.playr-profile-info .uk-tab > * > a {
    color: var(--primary) !important;
    background: rgba(255,255,255,.9);
    border-radius: 0.3rem;
    padding: 5px 30px;
    font-size: 1.5rem;
    font-family: var(--alt-font);
    text-transform: uppercase;
    font-weight: 600;
}

.stats-inner .widget-header-wrapper::after {
    margin-bottom: 0 !important;
}

.sec-relative {
    position: relative;
    overflow: hidden;
}

img.icon-item {
    width: 30px;
}

span.title-sm-tp {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--primary);
}

.uk-section.mt-sml {
    padding-top: 0;
}

img.icon-item {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    padding: 5px;
}

.title-sm-tp , .title-sm-main {
    text-align: left !important;
}

.afc-footer .uk-section {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.socialmediacontainer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.socialmediacontainer li {
    list-style: none;
    padding: 15px;
    font-size: 3rem;
}

.socialmediacontainer a {
    color: rgba(255,255,255,.7);
}

.page-brdc .uk-background-cover::after {
    background: linear-gradient(267deg, rgba(9,9,121,1) 0%, rgba(0,212,255,0) 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
}

.team-inner.pllist .player-card-details {
    background: var(--gradient-three);
}

.player-card-details .uk-label {
    font-size: 15px;
    background: red;
    text-shadow: none;
    margin-bottom: 3px;
}

.team-inner.pllist li:hover .player-card-details {
    background: var(--gradient-five) !important;
}

.team-inner.pllist li:hover .player-card-details span {
    text-shadow: 2px 4px 6px #555;
}

.team-inner.pllist li:hover span.plyr-number {
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 1px white;
}

span.primarysort {
    color: var(--primary);
    position: absolute;
    right: 5rem;
}

.plyrposition li a {
    color: var(--primary) !important;
    font-weight: 800;
}

.topsort {
    padding-top: 10px !important;
    padding-bottom: 0 !important;
    background: var(--secondary);
}

.topsort h1 {
    margin-bottom: 0 !important;
}

.player-card-details span {
    text-shadow: 2px 4px 6px var(--primary);
}

.newstitleheader {
    text-wrap: wrap;
    background: rgba(0,0,0,.04);
    padding: 10px;
}

.team-display .uk-grid-margin {
    margin-top: 1rem;
}

h1.page-title {
    position: absolute;
    color: white;
    top: 15%;
    z-index: 9;
}


.team-inner .widget-header-wrapper {
    margin-top: 4rem;
}

.team-inner .widget-header-wrapper.first {
    margin-top: 0;
}

.newstitleheader h5 {
    font-family: var(--font-headings) !important;
    font-size: 12px;
    font-weight: 600;
    color: var(--primary);
}

.z-back .uk-background-cover::after {
    z-index: 1;
}

.z-back h1 {
    z-index: 9;
    width: 60%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.3rem;
}

.stadium-features h3 {
    text-transform: uppercase;
}

.management-grid .uk-card-body::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    top: -17px;
    display: block;
    right: 0;
    border-radius: 50%;
    background: var(--alternative);
    opacity: .2;
}

.page-brdc.z-back .uk-background-cover::after {
    background: rgba(0, 0, 0, 0.6);
}

.post-metas {
    background: white;
    box-shadow: var(--shadow-one);
    border-radius: 5rem;
}

.meta-sec {
    z-index: 2;
    margin-top: -2rem;
    position: relative;
}

.post-metas .uk-padding {
    padding: 0.3rem;
}

.post-metas img {
    border-radius: 50%;
}

.post-metas div {
    text-align: left;
}

.post-metas {
    color: var(--primary);
    font-weight: 600;
}

.post-metas div {
    align-items: center;
    display: flex;
}

.post-metas span {
    padding-left: 1rem;
}

.time-col {
    color: rgba(0,0,0,.5);
    font-weight: normal;
    text-align: right;
    justify-content: center;
}

.fixtures-section {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0;
}

ul.uk-tab.fxture-tabs {
    margin-bottom: 0 !important;
    background: var(--alternative) !important;
    justify-content: center;
}

li.uk-active.tab-itm {
    background: white;
}

li.uk-active.tab-itm a{
    color: var(--alternative);
    font-weight: 600;
}

.tab-itm a {
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
}

.games-fixtures {
    background: white;
}

.games-fixtures .uk-padding {
    padding: 10px;
}

.games-fixtures .uk-grid {
    align-items: center;
}

.games-fixtures .uk-grid div {
    display: flex;
}

.games-fixtures .widget-header-wrapper {
    padding: 0;
}

.right-sep {
    padding-right: 10px;
    display: flex;
    flex-flow: column;
    text-align: left;
    margin-right: 1rem;
    border-right: 1px solid #ccc;
}

span.heading-title {
    font-weight: 600;
    color: var(--primary);
}

.games-fixtures .team-disp-1 {
    align-items: center;
    justify-content: center;
    align-content: center;
}

.games-fixtures .team-disp-1 h3 {
    margin: 0 !important;
    padding: 15px;
}

.games-fixtures .teams-inner-container {
    margin: 0;
}

.results-section .scr-card {
    background: transparent;
}

.results-section .hm-team-score {
    background: var(--primary);
    padding: 5px 15px;
    font-size: 2rem;
    font-family: var(--alt-font);
    text-transform: uppercase;
    border-radius: 0.4rem;
    font-weight: 600;
}

.games-tables iframe {
    height: 500px !important;
}

.games-tables {
    height: 40rem;
}

.match-home-card .uk-card {
    padding: 0 !important;
}

.match-home-card .widget-header-wrapper:after, .stats-inner .widget-header-wrapper:after {
    bottom: 0;
    left: 50%;
    width: 8rem;
    height: 0.3rem;
    border-radius: 0.2rem;
    background-color: red;
    transform: translateX(-50%);
}

.match-home-card .widget-header-wrapper, .stats-inner .widget-header-wrapper:after {
    margin-bottom: 1rem;
    border-radius: 0;
}

.stats-inner .widget-header-wrapper {
    margin-bottom: 1rem;
}

span.statvalue {
    color: var(--alternative);
    padding: 0 10px;
}

span.statmainitem {
    display: flex;
    font-family: var(--alt-font);
    text-transform: uppercase;
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 600;
}

.bg-primary-two .uk-card {
    background: #ddd;
}

.stats-inner .widget-header__title {
    padding: 0;
    text-align: center;
}

.game-score {
    display: flex;
}

span.result-item h3 {
    margin: 0;
    font-size: 2.5rem;
    color: white;
}

span.result-item {
    background: var(--primary);
    padding: .1rem 0.8rem;
    margin: .1rem;
}

.card-inner .date {
    font-size: 0.8rem;
    /* border-bottom: 4px solid var(--primary); */
}

.ptn4 {
    width: 100%;
    height: 100%;
    background-image: url(/img/pattern4.svg);
    background-position: center;
    background-attachment: fixed;
}

.nav-top li:hover {
    border: none !important;
}

.nav-top label:hover {
    color: white !important;
}

.afc-videos .uk-card {
    padding: 0;
    overflow: hidden;
}

.afc-videos h2 {
    padding: 1rem;
    color: white;
    font-weight: normal;
    text-shadow: 1px 1px 9px rgba(0,0,0,.9);
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
}

.tvbg .home-posts {
    background: #222;
}

.vid-item a {
    padding: 0;
}

.afc-videos .player-card-details {
    background: var(--gradient-three);
}

.vid-item {
    padding-right: 0 !important;
}

.vid-icon {
    background: red;
    padding: 11px;
    text-shadow: none !important;
}

.datepub {
    font-size: 1rem !important;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border: none;
  z-index: 2;
}

.modal-trigger {
  cursor: pointer;
}


.uk-lightbox.uk-open {
    padding: 2rem;
    width: 80%  !important;
    height: 80% !important;
    margin: auto;
    border: 1rem solid white;
}

.about-page .team-section, .about-page .uk-section {
    padding: 0;
}

.about-page .uk-container {
    margin: auto;
}

.whiteptn.ptn4 a.uk-button.uk-button-default {
    background: red;
    color: white;
    font-size: 2rem;
}

h3.uk-card-title {
    color: var(--primary) !important;
}

.logo-bg-footer img {
    margin-top: 3rem;
    width: 120px ;
}

/* .about-vertical {
    display: flex;
    overflow: hidden;
}

.about-vertical .uk-tab {
    flex-flow: column;
} */

.about-vertical .uk-tab {
    /* flex-flow: column; */
    margin-left: 0;
    /* width: 30%; */
    background: var(--primary);
}

ul.uk-tab.sidebar {
    /* width: 20%; */
    margin: 0;
    position: relative;
    overflow: hidden;
}

.sidebar li.uk-active {
    border-bottom: 3px solid white;
    background: rgba(0, 0, 0, .5);
}

.hist-cont img {
    width: 100%;
    height: 100%;
    padding: 6px;
    border-radius: 15px;
    object-fit: contain;
}

.hist-cont p {
    width: 70%;
}

.hist-cont {
    display: flex;
    align-items: flex-start;
}

.cont-page li {
    font-size: 2rem;
    font-weight: 700;
}

.tl-title {
    font-family: var(--alt-font);
    text-transform: uppercase;
    font-size: 2rem !important;
    font-weight: 600;
}

.ftr-contact-details a {
    background-color: transparent !important;
    font-weight: 800;
}

ul.uk-switcher.uk-margin.sidemain {
    /* width: 80%; */
    margin: 0 !important;
}

h1.page-title {
    font-weight: normal;
}

.about-vertical li a {
    font-family: var(--alt-font);
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.2rem;
    justify-content: center;
    letter-spacing: 2px;
    text-align: center;
}

.about-vertical .uk-tab > .uk-active > a {
    border: none !important;
        color: var(--alternative);
}

span.abt-content {
    text-align: left;
}

h1.headings-normal {
    color: var(--primary);
}

.uk-background-primary .headings-normal {
    color: white;
}

.timeline {
  padding: 0 4rem 4rem;
}

.tl-content .tl-header, 
.tl-content .tl-body {
  padding-left: 25.6px;
  border-left: 3px solid gainsboro;
}

.tl-body {
  padding-bottom:1rem;
}

.tl-content:last-child .tl-body {
  border-left: 3px solid transparent;
}

.tl-header {
  position: relative;
  display: grid;
}

.tl-title {
  font-weight: 600;
  font-size: 1em;
  border-bottom: 1px solid gainsboro;
}

.tl-time {
  font-size: 0.7em;
}

.tl-marker {
  display:block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50% / 50%;
  background: gainsboro;
  left: -1.1rem;
  top: 50%;
  transform: translate(50%,-50%);
}

.tl-content-active .tl-marker {
  padding: 1.6px;
  left: -1.25rem;
  width: 18px;
  height: 18px;
  border: 2px solid var(--primary);
  background-color: var(--primary);
  background-clip: content-box;
  box-shadow: 0 0 15px -2px var(--primary);
}

.tl-content-active .tl-title {
  font-weight: 700;
  
  color: var(--primary);
}

.about-vertical .uk-tab > * > a {
    color: rgba(255,255,255,.7);
}

a.match-btn {
    background: transparent !important;
}


.about-page .home-posts::before {
    background-image: url(/img/ui-pattern-two.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    right: -60%;
    top: -25%;
    transform: translateX(20%);
    mix-blend-mode: darken;
    opacity: .1;
}

.about-page .home-posts {
    overflow: hidden;
}

.about-page .uk-padding {
    padding-top: 15px;
    padding-bottom: 0;
}

.uk-w-stroke {
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 0.3rem;
    background: rgba(255,255,255,.4);
}

.mgment {
    height: 200px;
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    right: -22%;
}

.box-scrl{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.box-scrl span{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 2px solid var(--primary);
	border-right: 2px solid var(--primary);
	transform: rotate(45deg);
	margin: -10px;
	animation: animate 2s infinite;
}
.box-scrl span:nth-child(2)
{
	animation-delay: -0.2s;
}
.box-scrl span:nth-child(3)
{
	animation-delay: -0.4s;
}
@keyframes animate{
	0%{
		opacity: 0;
		transform: rotate(45deg) translate(-20px, -20px);
	}
	50%{
		opacity: 1;
	}
	100%{
		opacity: 0;
		transform: rotate(45deg) translate(20px, 20px);
	}
}

.go-down {
    position: relative;
}

.uk-padding.inner-afc-cont {
    padding: 0;
}

.inner-afc-cont .uk-card-body .uk-card-title, .inner-afc-cont .uk-card-body p {
    text-align: left;
}

.inner-afc-cont .widget-header-wrapper__header {
    text-align: left;
}

h4.text-light.txt-white {
    color: white;
    font-weight: normal;
    text-decoration: underline;
}

.trophies-section .uk-card, .trophies-section .uk-card-body {
    padding: 5px;
}

.trophies-section .uk-grid-margin {
    margin-top: 15px;
}

.trophy-icons .uk-card-body {
    background: transparent;
    color: white;
}

.trophy-icons h1 {
    color: var(--alternative);
    margin: 0 !important;
}

.uk-background-primary.darker {
    background: #00004F;
}

.stat-cont {
    position: relative;
}

.uk-section.bg-white-type-two.sec-relative.brd-down {
    padding: 0;
}

.contain-short-stats .uk-grid {
    background: white;
}

.contain-short-stats .uk-card {
    box-shadow: none;
    padding: 15px;
}

.icon-item {
    filter: invert(50%) sepia(70%) saturate(7492%) hue-rotate(358deg) brightness(104%) contrast(113%);
}

.goals-box, .goals-not-box {
    font-size: 18px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
}

.goals-box {
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
     background: var(--primary);
    }

    .goals-not-box {
        top: 80%;
        left: 50%;
    transform: translateX(-50%);
     background: var(--alternative);
    }

    .fixed-header {
        position: fixed;
        z-index: 999;
        -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    }

    @-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.defending-stat {
    font-family: var(--alt-font);
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
}

span.num-first {
    color: var(--primary);
}

img.icon-item {
    display: none;
}

.uk-section.bg-white-type-two.sec-relative.brd-down.contain-short-stats {
    border-bottom: none;
}

img.compt-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.uk-light .uk-dotnav > * > *, .uk-section-primary:not(.uk-preserve-color) .uk-dotnav > * > *, .uk-section-secondary:not(.uk-preserve-color) .uk-dotnav > * > *, .uk-tile-primary:not(.uk-preserve-color) .uk-dotnav > * > *, .uk-tile-secondary:not(.uk-preserve-color) .uk-dotnav > * > *, .uk-card-primary.uk-card-body .uk-dotnav > * > *, .uk-card-primary > :not([class*='uk-card-media']) .uk-dotnav > * > *, .uk-card-secondary.uk-card-body .uk-dotnav > * > *, .uk-card-secondary > :not([class*='uk-card-media']) .uk-dotnav > * > *, .uk-overlay-primary .uk-dotnav > * > *, .uk-offcanvas-bar .uk-dotnav > * > * {
    background-color: var(--primary);
}

.uk-light a {
    background-color: #D39037;
}

.fxtures-list-divs .fxture {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
}

.prim-text {
    color: var(--primary);
}

.values-icons i {
    color: var(--primary);
}

.stadium-features img {
    width: 100% !important;
    height: 200px !important;
    object-fit: cover;
}

.stadium-features .uk-card {
    padding: 5px;
}

.values-icons i {
    font-size: 30px !important;
    display: block;
}

.posts-type-one.match-view {
    padding: 0;
}

.uk-width-1-4.uk-background-secondary.is-primary {
    background: var(--primary);
    color: white;
}

.uk-width-1-4.uk-background-secondary.is-primary .inner-fixtures {
    background: transparent;
    color: white !important;
}

.is-primary .inner-fixtures, .is-primary .inner-fixtures h3, .is-primary .inner-fixtures span, .is-primary p {
    color: white !important;
}

.is-primary li {
    font-size: 14px;
}


.widget-header-wrapper-two h1 {
    font-size: 20px;
    text-align: left;
    color: var(--alternative);
    font-weight: normal;
    padding: 10px;
}

.lineup-plyr img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
}

.uk-grid.lineupscol h4 {
    color: white;
}

span.sub-item {
    display: flex;
    justify-content: center;
    flex-flow: column;
    line-height: 1;
    position: absolute;
    top: -0.8rem;
    right: 0;
}

.sub-items {
    position: relative;
}

span.sub-in.off {
    background: red;
    padding: 0 5px;
    border-radius: 1rem;
        width: 40px;
}

span.sub-in.on {
    background: green;
    padding: 0 5px;
    border-radius: 1rem;
        width: 40px;
}

.match-inner .uk-card:hover, .match-inner .uk-card:hover h3 {
    color: initial !important;
}

.stats-cards .uk-card {
    background: var(--secondary);
    border-radius: .5rem;
}

.stats-cards .uk-card:hover {
    background: initial;
    color: initial;
}

.stats-cards .uk-card, .stats-cards .uk-card h4 {
    color: initial ;
}

.stats-cards .uk-card {
    padding: 5px;
}

h3.stat-item2 {
    margin: 0;
    color: var(--primary);
}

h3.stat-item2.away {
    margin: 0;
    color: var(--alternative);
}

div#cafc .widget-header-wrapper {
    margin-bottom: 0;
}

span.hight {
    color: var(--alternative);
    font-size: 4rem;
}

.uk-overlay-primary.uk-position-cover.primary {
    background: rgba(0, 90,174,.65);
}

.uk-offcanvas-bar.uk-offcanvas-bar-animation.uk-offcanvas-slide {
    background: var(--gradient-one);
}

.top-locations div:nth-child(even) {
    border-right: 1px solid #ccc;
    margin-right: 15px;
}

.socialmediacontainer {
    border-top: 1px solid rgba(255,255,255,.2);
}

.match-center {
    background: var(--gradient-one);
    margin: 0;
    padding: 30px;
}

.match-center span {
    color: white !important;
}

.match-center select#form-stacked-select {
    font-size: 18px;
    text-align: center;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: flex;
    flex-flow: column;
}

.uk-card-title label {
    display: block;
    font-size: 17px;
    letter-spacing: 5px;
    color: var(--alternative);
    font-weight: normal;
}

.uk-card-title {
    text-transform: uppercase;
}

span.qtfooter {
    font-size: 14px;
    font-weight: 700;
    color: var(--primary);
}

.management-grid .uk-card-body {
    position: relative;
    overflow-x: clip;
    overflow-y: visible !important;
}

.games-tables table#table {
    width: 100vw !important;
}

.plyr-birthdate {
    display: none;
}

span.pens {
    color: white;
}

.ytlink {
    background: red !important;
    color: white !important;
    border-radius: .3rem;
}

.ytlink {
    line-height: inherit;
}

.bg-blue {
    background-color: var(--primary);
    color: var(--secondary);
}

.afc-cards {
    background: var(--gradient-one);
    box-shadow: var(--shadow-one);
}

.card-cost h1 {
    background: var(--primary);
    color: white;
    padding: 15px;
}

span.card-cost h1 sup {
    font-size: 1rem;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .nav-middle-right .uk-navbar-nav a, .nav-middle-left .uk-navbar-nav a {
        font-size: 1.4em !important;
    }
}